form{
    align-content: center;
    font-size: 14px;
    color: #6B121B;
    border: 1px dotted #6B121B;
    background-color: #B8BFCB;
}

fieldset{
    border: 1px dotted grey;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

legend{
    color: grey;
    font-size: 13px;
    margin-bottom: 16px;
}

input{
    background-color: white;
    border-radius: 4px;
    color: #264f96;
    font-size: 16px;
    padding: 3px, 3px, 3px, 10px;
    outline: none;
}

button{
    padding: 6px, 30px, 6px;
    color: white;
    background-color: #2a477a;
    font-size: 14px;
}

button:hoverb{
    background-color: #5376b2;
}

textarea{
    width: 450px;
    height: 50px;
    max-width: 493px;
    min-width: 300px;
    max-height: 200px;
    min-height: 50px;
    margin-top: 4px;
    border-radius: 4px;
    color: #264f96;
    font-size: 16px;
    padding: 3px, 3px, 3px, 10px;
}

:required{
    border-color:#4aa248;
    box-shadow: 0 0 3px #4aa248;
}

:invalid{
    border-color: #ff7f7f;
    box-shadow: 0 0 3px #ff7f7f;
}