*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    color: red;
}

#Titulo1{
    text-align: center;
    color: blue;
}

#trabajador{
    background-color: grey;
    border-top: 2%, solid, rgb(168, 168, 168);
}

#datos{
    border:3px, black, solid;
}

#Estudios{
    border:3px, black, double;
}

#Titulo2{
    text-align: center;
    color: green;
}

pre{
    white-space: wrap;
}

hr{
    width:0%;
}